@{
    ViewData["Title"] = "Home Page";
}

<div class="logovanje">
    <div class="skener">
        <a asp-controller="WaterResistance" asp-action="Index" class="btn btn-primary btn-lg" style="width:292px;">
            <p class="testBtn" style="width:258px;">Vodootpornost</p>
        </a>
        <a asp-controller="ElectroCorrectness" asp-action="Index" class="btn btn-primary btn-lg"  style="width:292px;">
            <p class="testBtn" style="width:258px;">Elektrotest</p>
        </a>
        <a asp-controller="VisualCorrectness" asp-action="Index" class="btn btn-primary btn-lg" style="width:292px;">
            <p class="testBtn" style="width:258px;">Vizuelni test</p>
        </a>
    </div>
    
</div>
